[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/z3"]
	path = 3rdparty/z3
	url = https://github.com/Z3Prover/z3
	ignore = dirty
[submodule "3rdparty/kissat"]
	path = 3rdparty/kissat
	url = https://github.com/arminbiere/kissat
[submodule "3rdparty/cryptominisat"]
	path = 3rdparty/cryptominisat
	url = https://github.com/msoos/cryptominisat
[submodule "3rdparty/cadical"]
	path = 3rdparty/cadical
	url = https://github.com/arminbiere/cadical
	branch = development
[submodule "3rdparty/bitwuzla"]
	path = 3rdparty/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla
[submodule "3rdparty/smt-switch"]
	path = 3rdparty/smt-switch
	url = https://github.com/stanford-centaur/smt-switch
[submodule "3rdparty/yices2"]
	path = 3rdparty/yices2
	url = https://github.com/SRI-CSL/yices2
[submodule "3rdparty/symfpu"]
	path = 3rdparty/symfpu
	url = https://github.com/cvc5/symfpu
	branch = cvc5
[submodule "3rdparty/libpoly"]
	path = 3rdparty/libpoly
	url = https://github.com/SRI-CSL/libpoly
[submodule "3rdparty/cudd"]
	path = 3rdparty/cudd
	url = https://github.com/SSoelvsten/cudd
[submodule "3rdparty/sha-2"]
	path = 3rdparty/sha-2
	url = https://github.com/martynafford/sha-2
[submodule "3rdparty/pgbar"]
	path = 3rdparty/pgbar
	url = https://github.com/Konvt/pgbar
[submodule "3rdparty/mimalloc"]
	path = 3rdparty/mimalloc
	url = https://github.com/jevinskie/mimalloc
	branch = jev/dev/custom-xnu-interposing
[submodule "3rdparty/folly"]
	path = 3rdparty/folly
	url = https://github.com/facebook/folly
[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "3rdparty/minisat"]
	path = 3rdparty/minisat
	url = https://github.com/LLVMParty/minisat
	branch = modern-package
[submodule "3rdparty/stp"]
	path = 3rdparty/stp
	url = https://github.com/stp/stp
[submodule "3rdparty/picosat"]
	path = 3rdparty/picosat
	url = https://github.com/msoos/picosat
[submodule "3rdparty/glucose"]
	path = 3rdparty/glucose
	url = https://github.com/audemard/glucose
[submodule "3rdparty/lingeling"]
	path = 3rdparty/lingeling
	url = https://github.com/arminbiere/lingeling
[submodule "3rdparty/gmp"]
	path = 3rdparty/gmp
	url = https://github.com/jevinskie/gmp
	branch = default
	ignore = untracked
[submodule "3rdparty/indicators"]
	path = 3rdparty/indicators
	url = https://github.com/p-ranav/indicators
[submodule "3rdparty/json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rdparty/structopt"]
	path = 3rdparty/structopt
	url = https://github.com/p-ranav/structopt
[submodule "3rdparty/applespi"]
	path = 3rdparty/applespi
	url = https://github.com/jevinskie/applespi
